<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.invious.alfred3.songkick</string>
	<key>connections</key>
	<dict>
		<key>2C2540F4-B114-408C-AF38-1F2DA4799A87</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6D143823-70EB-4632-9F89-51996A7669C4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>45CE2EF1-E412-441B-87A8-50DD96DAF53E</key>
		<array/>
		<key>5165977B-A4C5-4F9B-9BD8-EC00E5F87A65</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>54CD109C-6CEF-424C-BBB0-6B65CA3EB8A3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>54CD109C-6CEF-424C-BBB0-6B65CA3EB8A3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D8F537C6-9A29-49F2-81DB-09808A2B04B0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>2904BBB4-608B-4129-BF90-D8BD3760B242</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>02CAE619-6175-4FAA-86A2-E1D905D02D73</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6D143823-70EB-4632-9F89-51996A7669C4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5165977B-A4C5-4F9B-9BD8-EC00E5F87A65</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D8F537C6-9A29-49F2-81DB-09808A2B04B0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>45CE2EF1-E412-441B-87A8-50DD96DAF53E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Aymon Fournier</string>
	<key>description</key>
	<string>Music streaming URL cross conversion using songwhip.com</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Songwhip</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>sw</string>
				<key>subtext</key>
				<string>Enter a URL (without argument the clipboard content will be used).</string>
				<key>text</key>
				<string>Convert a music streaming URL using songwhip.com</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>2C2540F4-B114-408C-AF38-1F2DA4799A87</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Your music url has been copied to clipboard.</string>
				<key>title</key>
				<string>Copied</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>D8F537C6-9A29-49F2-81DB-09808A2B04B0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>variables</key>
				<dict>
					<key>cb</key>
					<string>{clipboard}</string>
					<key>url</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>6D143823-70EB-4632-9F89-51996A7669C4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>copy</string>
						<key>outputlabel</key>
						<string>copy</string>
						<key>uid</key>
						<string>2904BBB4-608B-4129-BF90-D8BD3760B242</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>go</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>54CD109C-6CEF-424C-BBB0-6B65CA3EB8A3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>68</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Getting results from songwhip.com...</string>
				<key>script</key>
				<string>CLIP=$(pbpaste)
python extract.py "$CLIP"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Enter a URL (without argument the clipboard content will be used).</string>
				<key>title</key>
				<string>Convert a music streaming URL using songwhip.com</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>5165977B-A4C5-4F9B-9BD8-EC00E5F87A65</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{var:url}</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>45CE2EF1-E412-441B-87A8-50DD96DAF53E</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{var:url}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>02CAE619-6175-4FAA-86A2-E1D905D02D73</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>v0.2

- Upgraded for Alfred 4, now default action is to copy link, hold CMD to visit directly

v0.1

- Working in Alfred 3, provides choices of sites to visit</string>
	<key>uidata</key>
	<dict>
		<key>02CAE619-6175-4FAA-86A2-E1D905D02D73</key>
		<dict>
			<key>xpos</key>
			<integer>490</integer>
			<key>ypos</key>
			<integer>445</integer>
		</dict>
		<key>2C2540F4-B114-408C-AF38-1F2DA4799A87</key>
		<dict>
			<key>note</key>
			<string>Convert streaming music URL with using songwhip.com</string>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>30</integer>
		</dict>
		<key>45CE2EF1-E412-441B-87A8-50DD96DAF53E</key>
		<dict>
			<key>xpos</key>
			<integer>610</integer>
			<key>ypos</key>
			<integer>270</integer>
		</dict>
		<key>5165977B-A4C5-4F9B-9BD8-EC00E5F87A65</key>
		<dict>
			<key>xpos</key>
			<integer>270</integer>
			<key>ypos</key>
			<integer>140</integer>
		</dict>
		<key>54CD109C-6CEF-424C-BBB0-6B65CA3EB8A3</key>
		<dict>
			<key>xpos</key>
			<integer>440</integer>
			<key>ypos</key>
			<integer>130</integer>
		</dict>
		<key>6D143823-70EB-4632-9F89-51996A7669C4</key>
		<dict>
			<key>xpos</key>
			<integer>215</integer>
			<key>ypos</key>
			<integer>75</integer>
		</dict>
		<key>D8F537C6-9A29-49F2-81DB-09808A2B04B0</key>
		<dict>
			<key>xpos</key>
			<integer>585</integer>
			<key>ypos</key>
			<integer>35</integer>
		</dict>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>0.2</string>
	<key>webaddress</key>
	<string>github.com/invious</string>
</dict>
</plist>
